.container {
  background-color: #f8f8f8;
  max-width: 100%;
  margin: 0 auto;
  color: rgba(0,0,0,.54);
}
.svg-box {
  width: 100%;
  padding: 20px 0;
  background-color: #27bcac;
}
svg {
  width: 229px;
  height: 229px;
  background-color: #27bcac;
  display: block;
  margin: 0 auto;
}
.tic-tac-toe-line {
  stroke: #1ea092;
  stroke-width: 6.5;
  stroke-dasharray:114.5;
  stroke-dashoffset:114.5;
}
button.restart-button {
  font-size: 16px;
  letter-spacing: 0.6px;
  color:  #27bcac;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
}

@media (min-width: 700px) and (orientation: landscape) {
  .svg-box {
    margin: 0 auto;
  }
  .container {
    width: 700px;
  }
}
